@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    
    background: black;

}

.container{
    width: 960px;

}

.header{
    height: 550px;  
    font-weight: 700;
    font-size: 64px;
    background-image: url( fondo.png);
    background-position:center top ;
    text-align: center;
    padding-top: 80px;
}


.box-name{
    position: absolute;
    width: 365px;
    height: 117px;
    left: 94px;
    top: 292px;
    background: rgba(114, 153, 254, 0.5);
    border-radius: 10px;
}

.main-name{
    position: absolute;
    padding-left: 20px;
    line-height: 38px;
    top: -15px;
    font-weight: bold;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-2{
    height: 424px;
    background: #7299FE;
}

.title1{
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #1D06A7;
    margin: 0;
    padding-top: 20px;
}
.text-1{
    height: 166px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 20px;

}

.box-cv{
    position: absolute;
    width: 187px;
    height: 62px;
    left: 38px;
    top: 811px;
    background: #D16FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.text-cv{
    margin-left: 60px;
    line-height: 20px;
    font-size: 22px;
}

.container-3{
    height: 554px;
    background: 
    #9022FF;
    padding-left: 60px;
}
.skills{
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #26CC4B;
    margin: 0;
    padding-top: 20px;
}


progress{
    margin-left: 120px;
    height: 20px;
    width: 430px;
}


.p{
    font-size: 18px;
    padding-left: 120px;
}

.img img{
    width: 70%;
    height: 424px;
    margin-left: 140px;
}
.img{
    background: #FFD233;
}
.img h2{
    color: #00AD84;
    text-align: center;
    font-size: 36px;
    padding: 40px;
    margin: 0;
}


.container-4{
    height: 258px;
    background-color: #3F4E62;
}

.patients{
    text-align: center;
    font-size: 36px;
    color: #ADFF28;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

.container-4 img{
    width: 90%;
    margin-left: 40px;
}

section {
    background-color: #1687a0;
  }
  
  form {
    max-width: 759px;
    margin: auto;
    padding: 30px 0 76px;
  }
  
  .title {
    text-align: center;
    color: red;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 30px;
  }
  
  .group-field input {
    padding: 22px 9px;
    width: 363px;
    height: 59px;
    margin-bottom: 33px;
  }
  
  .group-field input:nth-child(even) {
    margin-left: 28px;
  }
  
  textarea {
    width: 100%;
    height: 112px;
    padding: 19px 9px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
  
  .button {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    background: #233451;
    color: white;
    outline: unset;
    border: unset;
    width: 167px;
    height: 56px;
    margin: 45px auto 0;
    display: block;
    text-transform: uppercase;
  }
